<div id="body">
<form>

    <h3>Inscription</h3>

    <div class="form-group">
        <label for="name">Prénom</label>
        <input 
        required
        minlength="3"
        maxlength="15"
        [(ngModel)]="name"
         name="name"
        type="text"
        class="form-control" 
        placeholder="Entrez votre prénom"
        >
    </div>

    <div class="form-group">
        <label for="lastname">Nom</label>
        <input 
        required 
        minlength="3"
        maxlength="15"
        [(ngModel)]="lastname"
        name="lastname"
        type="text"
        class="form-control" 
        placeholder="Entrez votre nom"
        >
    </div>

  <div class="form-group">
          <label for="job">Position occupée</label>
          <input 
          required 
          minlength="3"
          maxlength="25"
          [(ngModel)]="job"
          name="job" 
          type="text"
          class="form-control" 
          placeholder="Entrez votre position"
          >
  </div>

  <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input 
      required 
      minlength="3"
      maxlength="25"
      [(ngModel)]="email"
      name="email" 
      type="email" 
      class="form-control" 
      aria-describedby="emailHelp" 
      placeholder="Entrez votre email"
      >
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Mot de passe</label>
    <input 
    required 
    minlength="3"
    maxlength="15"
    [(ngModel)]="password"
    name="password" 
    type="password" 
    class="form-control" 
    placeholder="Entrez votre mot de passe"
    >
  </div>

  <button class="btn btn-primary " (click)="register()">Valider</button>

  <a routerLink="/home" class="form_link">Retour</a>

</form>

</div>