
<div id="body">

<form>

    <h3>Connexion</h3>


  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input required ngModel name="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Entrez votre email">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Mot de passe</label>
    <input required ngModel name="password" type="password" class="form-control" placeholder="Entrez votre mot de passe">
  </div>


  <button class="btn btn-primary ">Valider</button>

  <p>Pas encore de compte ? <span><a [routerLink]="['/form-register']"  class="inlineBtn" >Inscrivez-vous</a></span> </p>
  

  <a routerLink="/home" class="form_link">Retour</a>

</form>

</div>