
<div id="body">
    
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">


    <h3>Connexion</h3>

    <p>alexis@mail.com</p>
    <p>password</p>

  <div *ngIf="invalidLogin" class="alert alert-danger">
    Adresse mail ou mot de passe incorrect
  </div>

  <!-- <div *ngIf="error" class="alert alert-danger">{{error}}</div> -->

  <div *ngIf="invalidForm" class="alert alert-danger">
      Réponse invalide
    </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input 
    required 
    formControlName="email"
    type="email" 
    class="form-control" 
    aria-describedby="emailHelp" 
    placeholder="Entrez votre email"
    >
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Mot de passe</label>
    <input 
    required 
    formControlName="password"
    type="password" 
    class="form-control" 
    placeholder="Entrez votre mot de passe"
    >
  </div>

  <button class="btn btn-primary " >Valider</button>

  <p class="info-form">Pas encore de compte ? <span><a [routerLink]="['/form-register']"  class="inlineBtn" >Inscrivez-vous</a></span> </p>
  

  <a routerLink="/home" class="form_link">Retour</a>

</form>

</div>