

#categoryTitle {
  margin-bottom: 20px;
}

.authorInfo {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.authorName {
  font-weight: 900;
}

.authorJob {
    font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 300;
  font-style: italic;
}

.comment_p {
  font-size: 1.3rem;
}

#giphy {
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 100%;
}

a.form_link {
  list-style: none;
  text-decoration: none;
  display: block;
  font-weight: bold;
  color: black;
  margin-top: 30px;
  width: 50px;
}

a.form_link:hover {
  text-decoration: none;
  color: white;
  background-color: black
}

.btn-primary {
  color: #fff;
  background-color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  border: none;
}

.btn-edit{
  padding: 1px 3px;
}

.btn {
  float: right;
  margin-top: 20px;
  background: black;
}

@media (max-width: 640px) {
    /* CSS mobile ici */
  
    .page_content {
      padding: 0px 8% 80px 8%;
      // width: 70%;
      margin: 40px auto 80px auto;
      background: white;
    }
  
    #categoryTitle {
      padding-top: 0;
      margin-bottom: 20px;
    }
  }

@media (min-width: 641px) {
  /* CSS dekstop ici */

  .page_content {
    padding: 0px 8% 80px 8%;
    width: 70%;
    margin: 40px auto 80px auto;
    background: white;
  }

  @keyframes Gradient {
    0% {
      background-position: 0 50%
    }

    50% {
      background-position: 100% 50%
    }

    to {
      background-position: 0 50%
    }
  }

  #body {
    background: -webkit-gradient(linear, left top, right top, color-stop(1.72%, #e76973), color-stop(23.88%, rgba(241, 137, 95, .8)), color-stop(49.2%, rgba(255, 231, 137, .8)), color-stop(75.2%, #99cead), color-stop(95.93%, #97d1ce)), #fff;
    background: linear-gradient(90deg, #e76973 1.72%, rgba(241, 137, 95, .8) 23.88%, rgba(255, 231, 137, .8) 49.2%, #99cead 75.2%, #97d1ce 95.93%), #fff;
    background-size: 600% 600%;
    // position: fixed;
    overflow-y: scroll;
    -webkit-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    -webkit-transition: 1s;
    transition: 1s
  }

}
