<h1>{{category}}</h1>

<article class="comment" *ngFor="let post of posts">
  
  <img  id="giphy" src="{{post.giphyUrl}}" > <br/>

  <!-- <p class="comment_p"> {{post.content}} </p> -->


  <a [routerLink]="['/post-edit', post.id]">{{post.content}}</a>

  <!-- <p class="comment_name">
     <strong> {{post.user.name}}
  {{post.user.lastname}} </strong>
  {{post.user.job}}
</p> -->
  <hr>


</article>

<!-- <input type="text" placeholder="Ecrire un commentaire..." class="comment_answer"> -->

<button [routerLink]="['/post-add']">Add</button>