<div id="body">

  <section class="page_content">

    <h1 id="categoryTitle">{{ category | titlecase }}</h1>

    <hr>

    <article class="comment" *ngFor="let post of posts">

      <p class="authorInfo">
        <span class="authorName">{{post.user.name | titlecase }} {{post.user.lastname | titlecase }} </span>
        <span class="authorJob"> - {{post.user.job | titlecase }} </span>
      </p>


      <img id="giphy" src="{{post.giphyUrl}}"> <br />

      <p class="comment_p"> {{post.content}} </p>

      <!-- EDIT -->
      <!-- <a [routerLink]="['/post-edit', post.id]">{{post.content}}</a> -->


      <hr>


    </article>

    <!-- <input type="text" placeholder="Ecrire un commentaire..." class="comment_answer"> -->

    <button [routerLink]="['/post-add']" class="btn btn-primary ">Ajouter</button>

    <a routerLink="/home" class="form_link">Retour</a>

  </section>

</div>
