/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 1.4rem;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}
main{
    width: 80%;
    margin: auto;
}
h1{
    padding-top: 60px;
    font-weight: 900;
    font-size: 4.4rem;
}
h2{
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 2.5rem;
}
h3{
    font-size: 2.35rem;
    font-weight: 900;
    margin-bottom: 40px;
}
h5{
    padding-top: 60px;
    font-weight: 900;
    font-size: 4rem;
    color: white;
}

a{
    text-decoration: none;
}

.img_wall{
    width: 100%;
    margin-top: 40px;
}


