
<div id="body">
        <!-- <navbar2></navbar2> -->
    <a routerLink="app" *ngIf="!jwtService.loggedIn()">
        <img class="logoCenter" src="assets/images/logo_community.svg" alt="logo">
    </a>

    <a routerLink="app" *ngIf="jwtService.loggedIn()">
        <img class="logo" src="assets/images/logo_community.svg" alt="logo">
    </a>

    <navbar></navbar>
<h1  *ngIf="jwtService.loggedIn()">
    Bonjour 
    {{ userName | titlecase }}
    {{ userLastName | titlecase }}
</h1>

<h2 *ngIf="jwtService.loggedIn()">
    {{ userJob | titlecase }}
</h2>

<searchbar *ngIf="jwtService.loggedIn()"></searchbar>

<category *ngIf="jwtService.loggedIn()" ></category>

<footer></footer>

<!-- <post-list></post-list> -->



<!-- <h1>Hello</h1>
<h2>C'est un test</h2>
<p>daokdza dkazo dkazodk azkdaoz kdozak doakzdoazk dokazodka ozkdoazk doazkd okzado </p> -->



</div>
