<div id="body">
  
  <form #postForm="ngForm" (ngSubmit)="save(postForm.value)">
   
      <h3>{{post.content ? 'Editer' : 'Ajouter'}} un commentaire</h3>
    
    
      <!-- <input 
      type="hidden" 
      name="userId" 
      [(ngModel)]="userId"
      >

      <input 
      type="hidden" 
      name="idCategory" 
      [(ngModel)]="idCategory"
      >

      <input 
      type="hidden" 
      name="href" 
      [(ngModel)]="post.href"
      > -->
      
        <!-- <input placeholder="post Name" [(ngModel)]="post.name"
               required name="name" #name> -->

          <textarea 
          placeholder="Entre votre message" 
       [(ngModel)]="post.content"
          name="content" 
          id="" 
          cols="20" 
          rows="10"
          #content
          >
        </textarea>
        
        <br>
        <br>

     <input 
     placeholder="Mot-clé Giphy" 
     [(ngModel)]="post.tag"
     name="tag" 
     #tag
     >
    

      <!-- <input
       placeholder="Entre votre message" 
       [(ngModel)]="post.content"
      required 
      name="content" 
      #content
      > -->
 
          <br>
      <button type="submit"
              [disabled]="!postForm.form.valid"
              class="btn btn-primary ">Envoyer</button>

      <button (click)="remove(post.id)"
              *ngIf="post.id" type="button"
              class="btn btn-primary ">Supprimer</button>

              <!-- <br>
              <br> -->


      <a routerLink="/home" class="form_link">Retour</a>
      <br>
      <br>
      <div class="giphy">
        <img src="{{post.giphyUrl}}" >
      </div>

  </form>

  <footer></footer>
</div>